<div class="col-md-6 col-md-offset-3">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Welcome to Dashboard</h3>
      /users/sign_out
      <%= link_to "Logout", destroy_user_session_path, class:"btn btn-info" %><br />
    </div>
</div>